*{
      margin:0px;
      padding:0px;
      box-sizing:border-box;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body{
      background-color: aquamarine;
      text-align:center;
      align-items: center;
      justify-content: center;
}
h1{
      padding:20px;
      font-size: 50px;
      margin:20px;
}

.section{
      padding:10px;
      float: left;
      margin:10px;
      font-size:30px;
      border:5px solid white;
      border-radius:20px;
      background-color: chartreuse;
      color:rgb(63, 7, 136)
}

h3{
      float: right;
      padding:2px;
      color:white;
      border-radius:20px;
}

#h1{
      border-left:5px solid rgb(238, 178, 100);
      border-bottom:5px solid rgb(238, 178, 100);
      background-color: rgb(238, 178, 100);
}

#h2{
      border-left:5px solid rgb(238, 125, 238);
      border-bottom:5px solid rgb(238, 125, 238);
      background-color:  rgb(238, 125, 238);
}

#h3{
      border-left:5px solid rgb(70, 196, 247);
      border-bottom:5px solid rgb(70, 196, 247);
      background-color:   rgb(70, 196, 247);
}

.section > p{
      clear: right;
      padding:7px;
}

@media (min-width:992px){
      .section{
            float:left;
            width: 30%;
           max-height:  600px;
      }
}

@media ( min-width : 768px) and (max-width : 991px){
      .sec-1, .sec-2{
            width:45%;
            height:400px;
            margin:15px;
      }

      .sec-3{
            width:95%;
            margin:15px;
            
      }
      .section{
            font-size: 190%;
      }
}

@media (max-width:767px) and (min-width : 100px){
      .sec-1,.sec-2,.sec-3{
           width: 95%;
      }
}
