*,*::before,*::after{
    box-sizing: border-box;
    font-family:  cosmic sans ms;
    font-size: 30px;
}

 :root{
    --hue-neutral:275;
    --sat-neutral:78%;
    --lit-neutral:50%;
    --hue-correct:123.13;
    --sat-correct:46.18%;
    --lit-correct:51.18%;
    --hue-wrong:0.55;
    --sat-wrong:98.2%;
    --lit-wrong:56.47%;

} 
body{
    --hue:var(--hue-neutral);
    --sat:var(--sat-neutral);
    --lit:var(--lit-neutral); 
    padding:0;
    margin:0;
    display: flex;
    width:100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: hsl(var(--hue),var(--sat),var(--lit)); 
}

body.correct{
    --hue:var(--hue-correct);
    --sat:var(--sat-correct);
    --lit:var(--lit-correct); 
}

body.wrong{
    --hue:var(--hue-wrong);
    --sat:var(--sat-wrong);
    --lit:var(--lit-wrong); 
}

 .container{
    width: 1000px;
    background-color: cornsilk;
    border-radius: 35px;
    box-shadow: 0 0 10px 2px;
    padding:5px;
} 

.ques{
    font-size: 35px;
    text-align: left;
    color:purple;
    margin-top:5 px;
    margin-left: 15px;
}

.ans-grid{
    display: grid;
    grid-template-columns:repeat(2,auto);
    gap:20px ;
    margin: 40px 40px;
}

.ans-btn{
    --hue: var(--hue-neutral);
    --sat: var(--sat-neutral);
    min-height: 80px;
    background-color: hsl(var(--hue),var(--sat),70%);
    color: white;
    border-radius: 8px;
    box-shadow: 0 0 2px 2px violet ;
    padding:5px 5px;
}

.ans-btn:hover{
    border: 3px solid purple;
}

.ans-btn.correct{
    --hue:var(--hue-correct);
    --sat:var(--sat-correct);
    --lit:var(--lit-correct);
}

.ans-btn.wrong{
    --hue:var(--hue-wrong);
    --sat:var(--sat-wrong);
    --lit:var(--lit-wrong); 
}

.control{
    display: flex;
    justify-content: center;
    align-items: center;
}

.str-btn, .next-btn{
    font-size: 80px;
    --hue: var(--hue-neutral);
    --sat: var(--sat-neutral);
    background-color: hsl(var(--hue),var(--sat),70%);
    padding:10px 20px;    
    color: white;
    border-radius: 10px;   
    border:2px solid  hsl(var(--hue),var(--sat),70%);
}
.str-btn{
    margin: 40px;
}
.str-btn:hover{
    border: 2px solid purple;
    box-shadow: 1px 1px 10px 2px purple;
}
.hide{
    display: none;
}

.instr{
    padding:20px;
    font-size: 30px;
    text-align: left;
    color:purple;
    margin-top:5 px;
    margin-left: 15px;
}

#ibutton{
    display: flex;
    justify-content: center;
    align-items: center;
    --hue: var(--hue-neutral);
    --sat: var(--sat-neutral);
    background-color: hsl(var(--hue),var(--sat),70%);
    padding:10px 20px;    
    color: white;
    border-radius: 10px;   
    border:2px solid  hsl(var(--hue),var(--sat),70%);
}

#ibutton:hover{
    border: 2px solid purple;
    box-shadow: 1px 1px 10px 2px purple;