*{
    font-family:cosmic sans ms;
    margin:0 px;
}
body{
    background-image: linear-gradient(to right top, #27cbae, #5dba65, #91a20c, #c27c00, #eb3a12);
background-attachment: fixed;
}
/* Header container */
.nav-wrapper{
    display:flex;
    justify-content:space-between;
    margin:20px 10px;
    font-size: 50px;
    text-transform: uppercase;
    
}
.nav-wrapper{
    display: grid;
    grid-template-columns: 1fr;
}
.left-side{
    display:flex;
    
}

.nav-wrapper .p1,.p2{
    padding-top: 15px;
    padding-bottom: 5px;
}
.right-side{
  left:100%;
  margin-top:0px;
  font-size: 200px;
   
}
.p1{
    padding-right: 25px;
}

.p3{
    color:violet;
    font-weight: bolder;
    font-size: 20px;
    padding:0px;
    margin: 0px;
    
}
a{
    text-decoration: none;
    color:black;

}

a:hover{
    border-bottom: 1px solid grey;
    color:grey;

}


.tool-tip {
    position: relative;
    display: inline-block;
    
  }
  
  .tool-tip .tooltip-txt {
    visibility: hidden;
    width: 120px;
    color:violet;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }
  
  .tool-tip:hover .tooltip-txt {
    visibility: visible;
  }

hr{
    
    color:wheat;
    
    
    
}

/* image part */

img {
    float: left;
    width:  750px;
    height: 750px;
    object-fit: cover;
    border-radius: 20px;
    overflow: pre;
}
.img{
    max-width:50%;
    height:auto;
    position: relative;
}

/*image alignment*/
ul{
    list-style-type:none;
    text-align: center;

}
.imgt {
    display: inline-block;
    position: fixed;
}   
  
  .img .imgt {
    visibility: hidden;
    width: 400px;
    font-size: 50px;
    color: black;
    text-align: center;
    border-radius: 6px;
    padding:0px;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }
  
  .img:hover .imgt {
    visibility: visible;
  }
  